:root
{
    --primary-color:#4ba856;
    --success-color:#42c451;
    --danger-color:#db1125;
    --warning-color:#fcc737;
    --light-color:#fcf9f2;
    --dark-color:#232d2d;
}

*
{
    color:var(--dark-color);
}


.brand-title
{
    font-family: 'Poller One', cursive;
    color: #fff;
}
.error-title
{
    font-family: 'Poller One', cursive;
    color: var(--danger-color);
}
.error-box
{
    margin: 3vh 0vh;
}
.error-box>h2
{
    padding-top: 20px;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(35,45,45, .75); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(35,45,45,1);
    border-radius: 5px; 
}
.file-dropzone
{
    height: 50vh;
    display: block;
}

.file-dropzone>label
{
    position: absolute;
    z-index: 0;
    font-size: 1.25em;
    width: 80vw;
    padding-top: 23vh;
}
.file-dropzone input[type=file] {
    opacity: 0;
    width: 100%;
    height:100%;
    z-index: 1;
}
