:root
{
    --primary-color:#4ba856;
    --success-color:#42c451;
    --danger-color:#db1125;
    --warning-color:#fcc737;
    --light-color:#fcf9f2;
    --dark-color:#232d2d;
}

*
{
    color:var(--dark-color);
}
.brand-title
{
    font-family: 'Poller One', cursive;
    color: #fff;
}
.login-box
{
    margin-top: 5vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px var(--dark-color);
}

.btn-primary
{
    background-color:var(--success-color);
    border-color: var(--success-color);
    font-weight: 600;
}
.btn-link
{
    color: var(--success-color);
    font-weight: 600;
}
.btn-link:hover
{
    color: var(--danger-color);
}
.btn-primary:hover
{
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

.navbar
{
    box-shadow: #232d2d 0px 1px 5px;
    margin-bottom: 10vh;
}
.nav-link
{
    color: #fff;
}
.active
{
    color: var(--dark-color);
    font-weight: 600;
}

.primary-color
{
    background-color: var(--primary-color);
}
.light-color
{
    background-color: var(--light-color);
}
