:root
{
    --primary-color:#4ba856;
    --success-color:#42c451;
    --danger-color:#db1125;
    --warning-color:#fcc737;
    --light-color:#fcf9f2;
    --dark-color:#232d2d;
}

.btn-primary
{
    background-color: var(--primary-color);
}